/* style.css */
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@400;700&display=swap');

body {
    background-color: #ffffff;
    font-family: 'Comic Neue', cursive, sans-serif;    
    margin: 0;
    overflow: hidden;
}

#game-container {
    text-align: center;
    padding: 20px;
}

#mascot {
    width: 150px;
    height: 150px;
    background-image: url('images/neutral.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0 auto;    
}

#question {
    font-size: 48px;
    margin: 20px 0;
    animation: bounce 1s infinite;
}

#answers {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    justify-content: center;
    margin: 0 auto;
    max-width: 400px;
}

.sounds {
    position: absolute;    
    height: 5%;
    left:3%;
    top: 2%;
    
}

.music  {
    position: absolute;
    
    height: 5%;
    right:3%;
    top: 2%;
    
}

.answer-button {
    width: 160px;
    height: 100px;
    margin: 10px;
    font-size: 30px;
    background-color: #ffcc00;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.2s;
}

.answer-button:hover {
    transform: scale(1.1);
}

#score-board {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
    font-size: 24px;
}

#progress-bar {
    width: 80%;
    background-color: #ddd;
    border-radius: 5px;
    margin: 20px auto;
}

#progress {
    width: 0%;
    height: 20px;
    background-color: #4caf50;
    border-radius: 5px;
}

#message {
    font-size: 32px;
    color: #ff5722;
    height: 40px;
    align-self: center;
    align-content: center;
    
    position: absolute;
    transform: translateX(-50%);
    top: 100pt;
    left: 50%;
    
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% { transform: translateY(0); }
    40% { transform: translateY(-20px); }
    60% { transform: translateY(-10px); }
}


/* Landscape mode adjustments */
@media (orientation: landscape) {
    body {
        flex-direction: row;
    }

    #game-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        max-width: 100%;
    }

    #question {
        font-size: 36px;
    }

    #answers {
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 5px;
        max-width: 100%;
    }

    .answer-button {
        height: 50px;
        font-size: 20px;
    }

    #score-board {
        font-size: 20px;
    }

    #message {
        font-size: 24px;
        position: absolute;
        align-content: center;
        top: 26%;
       }
}